@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap");

@layer components {
	.wrapper {
		@apply flex md:items-center items-stretch justify-between flex-col md:flex-row pt-10 gap-10 md:gap-0;
	}

	.login-form {
		@apply bg-form_bg p-8 shadow-form-shadow md:basis-5/12 sm:basis-full rounded-lg mb-10 md:mb-0;
	}

	.input {
		@apply h-14 bg-[#2B3540] px-3 py-3 text-sm rounded-lg focus:outline-none text-white w-full;
	}

	.input-error {
		@apply border border-red-500;
	}

	.forgot-password {
		@apply text-right underline underline-offset-1 text-primary_text text-sm cursor-pointer min-w-fit;
	}

	.login-btn {
		@apply py-3 bg-primary text-white text-[18px] font-[600] w-full rounded-lg hover:bg-[#f54003] transition-all ease-in;
	}
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
  }

body{
	background-color: #161C24;
}


